@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#menu {
    width: 3rem;
    align-self: center;
}

#logo {
    width: 10rem;
    align-self: center;
}

#search {
    font-size: 1.5rem;
    border-radius: 0rem;
    width: 50rem;
    height: 3rem;
    align-self: center;
    margin-left: auto;
}

#button {
    width: 2.9rem;
    border: solid 0.1rem grey;
    align-self: center;
    margin-right: 20rem;
}

#upload {
    align-self: center;
    width: 5.5rem;
    margin-right: 5rem;
}

#sign {
    align-self: center;
    width: 8rem;
}