@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: grid;
    width: 100vw;
    grid-template-columns: 10% 20% 40% 5% 5% 5%;
}

#menu {
    width: 2rem;
    margin-top: 3rem;
    justify-self: right;
}

#logo {
    width: 7rem;
    margin-top: 3.1rem;
    margin-left: 5rem;
    justify-self: left;
}

#search {
    border-radius: 0rem;
    width: 46.3rem;
    height: 2rem;
    margin-top: 3rem;
}

#button {
    border: solid 0.1rem grey;
    border-radius: 0rem;
    width: 1.1rem;
    margin-top: 3rem;
    padding: 0.4rem;
}

#upload {
    width: 3rem;
    padding: 0.5rem;
    margin-top: 2rem;
    justify-self: center;
}

#sign {
    width: 5rem;
    padding: 0.5rem;
    margin-top: 2.5rem;
    justify-self: right;
}

.sidebar {
    display: grid;
    font-size: 0.7rem;
    width: 100vw;
    height: 70vh;
    grid-template-columns: 100%;
    grid-template-rows: 12.7% 12.7% 12.7% 12.7% 12.7% 12.7% 12.7%;
}

.sidevids {
    justify-self: right;
}


/*
.main {
    grid-row: 4 /4;
}

#video {
    grid-row: 1 /1;
}

#title {
    font-size: 12px;
    font-style: normal;
}

#views {
    font-size: 10px;
}

.description {
    font-size: 10px;
    display: block;
}

#dislike {
    width: 3rem;
    padding: 0.5rem;
    margin-top: 3rem;
}

#like {
    width: 3rem;
    padding: 0.5rem;
    margin-top: 3rem;
}

#share-button {
    width: 1.5rem;
    padding: 0.5rem;
    margin-top: 3rem;
}

#subscribe {
    width: 4rem;
    padding: 0.5rem;
    margin-top: 3rem;
}